@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /*bg-violet-950;*/
  @apply bg-indigo-950;
  @apply text-white;
}

.ResponsiveMenu{
  display:grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(320px,1fr)
  );
  gap:10px
}